# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Node / React
node_modules/
dist/
build/
*.log

# OS
.DS_Store
Thumbs.db

# Ignore local datasets
data/
C:/Datasets/
*.zip
*.tar.gz
/SignLink.API/utils/.env
