# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Node / React
node_modules/
dist/
build/
*.log

# OS
.DS_Store
Thumbs.db

# Ignore local datasets
data/
C:/Datasets/
*.zip
*.tar.gz
/SignLink.API/utils/.env
/SignLink.API/.env
/SignLink.API/tests/ASL_Short_Video.mp4
/SignLink.API/tests/debug_outputs
/SignLink.API/tests/ASL_Short_Video.mp4
/SignLink.API/tests/ASL_A.png
/SignLink.API/tests/dataset/ASL_A.png
/SignLink.API/tests/dataset/ASL_Short_Video.mp4
/SignLink.API/tests/dataset/ASL_C.png
/SignLink.API/tests/dataset/ASL_O.png
/SignLink.API/tests/test_data/ASL_A.png
/SignLink.API/tests/test_data/ASL_C.png
/SignLink.API/tests/test_data/ASL_O.png
/SignLink.API/tests/test_data/ASL_Short_Video.mp4
/SignLink.API/tests/test_data/ASL_V.png
